@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html {
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

/* INICIO DE PRIMER BLOQUE*/
.imagen-diagonal {
    transform: rotate(45deg);
}

.imagen-diagonal {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.contenedor-diagonal {
    width: 200px;
    height: 200px;
    background-image: url('https://img.freepik.com/foto-gratis/vista-superior-gerente-empleado-que-trabajan-equipo-oficina-negocios-mirando-graficos-pantalla-computadora-portatil_482257-2443.jpg?t=st=1715972724~exp=1715976324~hmac=3d4d26b8b3979a9ea02be6d91775b21c5fa65eec3eeed4c341e31ce5168203f2&w=740');
    background-size: cover;
    background-position: center top;
    transform: skewY(-45deg);
}

.imagen-grande {
    width: 72%; 
    height: auto; 
    overflow: hidden; 
}
  
.imagen-grande img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border: none; 
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.4; 
}
  
.container {
    display: flex;
    height: 100vh;
    background-color: #152B50;
}
  
.sidebar {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; 
    font-size: 16px; 
}
  
.logo {
    max-width: 270px; 
    height: 200px;
    margin-bottom: 45px; 
}

.texto1 h1{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.2;
    margin: 0; 
    text-align: center; 
    width: 390px;
    color: #fff;
    text-align: left;
}
  
.texto2 h1{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.2;
    margin: 0; 
    text-align: center; 
    width: 390px;
    color: #7C83BA;
    margin-bottom: 10px;
    text-align: left;
}
  
.info {
    padding: 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 10px;
    margin-right: 15px;
    width: 430px; 
    max-width: 430px; 
    overflow: hidden; 
    word-wrap: break-word; 
}
  
.info p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    color: #fff; 
    text-align: justify;
    font-size: 12px;
    padding: 10px 20px;
}
  
.info button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    padding: 10px 20px;
    width: 360px;
    background-color: #3F418C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    animation: pulse 0.5s infinite alternate; 
}

@keyframes pulse {
    0% {
      transform: scale(1); 
    }
    100% {
      transform: scale(1.1); 
    }
}
  
  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
/* FIN DEL PRIMER BLOQUE*/

/* INICIO DEL SEGUNDO BLOQUE */
.section-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    margin: 0 auto;
    padding: 20px;
}

.logo1 {
    margin-top: 10px;
    max-width: 150px;
    height: auto;
    margin-bottom: 25px;
}

.text-box {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    width: 100%;
    color: #8183c7;
    background-color: #fff;
}

.text-box:hover {
    transform: translateY(-10px); /* Efecto hover */
}

.text-box h2 {
    font-weight: bold;
    color: #3F418C;
}

.text-box p {
    font-weight: bold;
    margin: 20px 50px;
}

.img-p {
    width: 100%; 
    max-height: 100%;
}

.img-p img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* FIN DEL SEGUNDO BLOQUE*/

/* INICIO DEL TERCER BLOQUE */
.contenedor-prin {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 40px;
    width: 100%;
}

.contenedor-1{
    margin-left: 40px;
    margin-right: 70px;
    background-color: #fff;
    height: 100px; 
    padding: 20px; 
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid #152b50; 
    box-shadow: 15px 15px 20px #152b50; 
    color: #152b50;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.contenedor-1 h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3em; 
    margin: 0 0 5px 0; 
}

.contenedor-1 p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.78em; 
    margin: 10px 20px; 
}

.right-content {
    width: 120%; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-size: 0.9em;
    position: relative;
    
    background-color: #ffffff; 
    position: relative; 
    z-index: 10; 
}

.left-content {
    width: 100%; 
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    margin: 0;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
/* FIN DEL TERCER BLOQUE*/

/* INICIO DEL CUARTO BLOQUE */
.service-page {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
    padding: 10px;
    box-sizing: border-box;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}

.service-page::-webkit-scrollbar {
    width: 0px;  /* Oculta la barra de desplazamiento en WebKit (Chrome, Safari, etc.) */
}

.service-box {
    width: 1300px; 
    max-width: 900px; 
    min-height: 100px; 
    padding: 20px; 
    box-sizing: border-box;
    background-color: #152B50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    border: 2px solid #3F418C;
    transition: background-color 0.3s ease;
    position: relative;
}

.service-icon {
    width: 50px; 
    height: auto;
    position: absolute;
    left: 20px;
    margin-top: 12px;
}

.service-box h2 {
    font-size: 1em;
    margin-left: 80px; 
    margin-top: 18px;
    margin-bottom: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.service-box p.special-margin {
    margin-top: 5px; 
}

.service-box p {
    font-size: 0.9em;
    margin-top: 20px;
    margin-left: 80px; 
    display: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

.service-box:hover {
    background-color: #fff;
    color: #3F418C;
}

.service-box:hover h2 {
    display: none;
}

.service-box:hover p {
    display: block;
    color: #3F418C;
}

/* Evita que los cuadros se muevan */
@media (max-width: 768px) {
    .service-box {
        width: 95%; 
    }
}

@media (max-width: 480px) {
    .service-box {
        width: 100%;
        padding: 15px;
    }
}

.service-page {
    overflow-y: auto; 
    max-height: 100vh; 
}
/*FIN DEL CUARTO BLOQUE*/

/* INICIO DEL QUINTO BLOQUE */

.formulario-contenido {
    display: flex;
    width: 100%;
    background-color: #152B50;
}

.formulario-texto {
    width: 50%; 
    padding: 120px;
    background: transparent; 
    color: #fff; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.formulario-imagen {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background: transparent; 
    box-sizing: border-box; 
}

.formulario-imagen img {
    width: 100%;
    height: 100vh; 
    max-height: 280vh; 
}

.container-formulario h1 {
    font-family: 'IBM Plex Sans', sans-serif; 
    text-align: left;
    font-size: 2.5em; 
}

.container-formulario p {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: left;
    text-align: justify;
    margin: 10px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px; 
}

.contact-form input,
.contact-form textarea {
    font-family: 'IBM Plex Sans', sans-serif; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px; 
    background-color: #fff; 
    color: #000; 
    width: 100%; 
    box-sizing: border-box; 
    padding-left: 20px; 
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa; 
}

.contact-form button {
    padding: 10px;
    border: none;
    background-color: #3F418C;
    color: white;
    border-radius: 13px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none; 
}
/* FIN DEL QUINTO BLOQUE*/

/* INICIO DEL PIE DE PAGINA */
.footer {
    background-color: #3F418C;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.footer-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-logo img {
    height: 100px; 
    margin-right: 50px;
}
  
.footer-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
  
.footer-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
  
.footer-item img {
    height: 40px; 
    margin-right: 5px;
}
  
.footer-item span {
    font-size: 11px;
    font-family: 'IBM Plex Sans', sans-serif;
}
  
.footer-link {
    text-decoration: none;
    color: #fff;
}
  
.footer-table {
    margin-left: auto;
    font-family: 'IBM Plex Sans', sans-serif;
}
  
.footer-table table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.footer-table th,
.footer-table td {
    border: none;
    padding: 6px 12px;
    text-align: left;
    font-size: 10px;
    color: #fff;
}
/* FIN DEL PIE DE PAGINA */